:host {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.container {
  height: auto;
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  resize: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

.text-line {
  //height: 500px;
  height: auto;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
}

.entry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

select {
  height: 23px;
  margin: 10px;
  width: 20%;
}

.text {
  display: flex;
  flex-direction: column;
}

.entryText {
  padding: 10px;
}

.disabled {
  color: grey;
}

.description {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.timestamp {
  min-width: 180px;
}

.audio, .image {
  margin-left: 200px;
}
