
table {
  font-size: 12px;
}

.info {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

tr:not(.mat-header-row) {
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5 !important;
  }
}
