/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.3em;

}

body.dialog-open {
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.snackbar-position {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  max-width: 75%;
  transform: none;
  margin: 0;
}

// Style for the backdrop
.cdk-overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.cdk-global-overlay-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 75%;

  transform: translate(-50%, -50%);
  margin: 0;
}

.cdk-overlay-container {
  z-index: 9999; /* or any value higher than the z-index of other elements */
}

.green-snackbar {
  background: #12a63e;
  color: white;
}

.green-snackbar button {
  background-color: #12a63e;
  color: white;
  border: none;
}

.red-snackbar {
  background: #F44336;
  color: white;
}

.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}
