:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    background-color: cornflowerblue;
    color: white;
    padding: 3px;
  }
}
